<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>حمص</description>
        <param-name>mainBranch</param-name>
        <param-value>2</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
        <jsp-property-group>
            <description>managment header and footer settings</description>
            <display-name>indexing jspf</display-name>
            <url-pattern>/indexing/view/*</url-pattern>
            <url-pattern>/indexing/index.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/indexing/jspf/header_indexing.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer_2.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>staffing header and footer</description>
            <display-name>staffing jspf</display-name>
            <url-pattern>/staffing/view/*</url-pattern>
            <url-pattern>/staffing/index.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/staffing/jspf/header_staffing.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer_2.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>reporting jspf</display-name>
            <url-pattern>/reporting/view/*</url-pattern>
            <url-pattern>/reporting/index.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/reporting/jspf/header_reporting.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer_2.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>main jspf</description>
            <display-name>main jspf</display-name>
            <url-pattern>/index.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header_main.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer_2.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>search jspf</display-name>
            <url-pattern>/WEB-INF/search/employeeSearch.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/search/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/search/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>search_staffing</display-name>
            <url-pattern>/staffing/search_staffing/employeeSearch.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/staffing/search_staffing/jspf/header_staffing.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer_2.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>search_reporting</display-name>
            <url-pattern>/reporting/search_reporting/employeeSearch.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/reporting/search_reporting/jspf/header_reporting.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer_2.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <res-ref-name>jdbc/hrms</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
